<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include ("../partials/head.ejs") %>
	</head>
	<body>
		<div class="wrapper">
			<header><%- include ("../partials/header.ejs") %></header>
			<section class="text">
				<h5><%= data.superheadline %></h5>
				<h1><%= data.headline %></h1>
				<h4><%= data.subheadline %></h4>
				<p><%- md %></p>
				<button class="btn red">PREISRECHNER</button>
			</section>
			<section class="picture">
				<img src="http://localhost:1337<%= data.image.url %>" alt="<%= data.image.alternativeText %>" />
			</section>
			<footer><%- include ("../partials/footer.ejs") %></footer>
		</div>
	</body>
</html>
