<!DOCTYPE html>
<html lang="de">
	<head>
        <style>
            @import url('../../static/css/layouts/index.css');
        </style>
        <%- include ("../partials/head.ejs") %>
	</head>
	<div id="preisrechner-hook"></div>
	<body>
		<div class="wrapper">
			<header><%- include ("../partials/header.ejs") %></header>
			<section class="text">
				<h1><%- headline %></h1>
				<h2><%- subheadline %></h2>
				<p class="main-text-area"><%- copytext %></p>
				<button id="btn-leistungen" class="btn outline">LEISTUNGEN</button>
				<button id="btn-open-calculator" class="btn red">PREISRECHNER</button>
			</section>
			<section class="picture index">
				<!-- <img id="photo-wackwitz" src="../../static/images/ruediger.webp"" alt="Foto Ruediger Wackwitz" /> -->
                <picture id="photo-wackwitz">
                    <source srcset="../../static/images/ruediger.webp" type="image/webp">
                    <source srcset="../../static/images/ruediger.png" type="image/png">
                    <img src=../../static/images/ruediger.png" alt="Foto Ruediger Wackwitz">
                </picture>
			</section>
			<section id="cards" class="cards">
                <h1 id="h1-leistungen">Leistungen</h1>
                <h2>Lorem ipsum dolor sit amet.</h2>
				<div class="cards-wrapper">
                    <% cards.forEach(card => { %>
                        <div class="card">
                            <div class="card-header"><%= card.title %></div>
                            <div class="cardbody">
                                <h1 class="cardheadline"><%= card.headline %></h1>
                                <p class="cardcopy"><%= card.teasertext %></p>
                                <button class="btn outline card">MEHR</button>
                            </div>
						</div>
                    <% }) %>	
                </div>
			</section>
            <footer><%- include ("../partials/footer.ejs") %></footer>
            <div class="gradient"></div>
		</div>
	</body>
</html>
