<!DOCTYPE html>
<html lang="de">
	<head>
		<%- include ("../partials/head.ejs") %>
	</head>
	<div id="preisrechner-hook"></div>
	<body id="main-body">
		<div class="wrapper index">
			<header><%- include ("../partials/header.ejs") %></header>
			<section class="text">
				<h1><%- headline %></h1>
				<h4><%- subheadline %></h4>
				<p class="main-text-area"><%- copytext %></p>
				<button id="btn-leistungen" class="btn outline">LEISTUNGEN</button>
				<button id="open-calculator-btn" class="btn red">PREISRECHNER</button>
			</section>
			<section class="picture index">
				<img id="foto_rue" src="../../static/images/ruediger.png"" alt="Foto Ruediger Wackwitz" />
			</section>
			<section id="cards" class="cards">
				<h1 id="h1-leistungen">Leistungen</h1>
				<div class="cards-wrapper">
					<div class="card">
						<div class="card-header">Korrekturen</div>
						<div class="cardbody">
							<h1 class="cardheadline">Wir sind für richtige Texte lorem Ipsum dolor sit</h1>
							<p class="cardcopy">
								Fehlerhaft, fehlerarm oder fehlerfrei – daran werden auch heute noch Menschen gemessen
								und Karrieren entschieden.
							</p>
							<button class="btn outline card">MEHR</button>
						</div>
					</div>
					<div class="card">
						<div class="card-header">Korrekturen</div>
						<div class="cardbody">
							<h1 class="cardheadline">Wir sind für richtige Texte lorem Ipsum dolor sit</h1>
							<p class="cardcopy">
								Fehlerhaft, fehlerarm oder fehlerfrei – daran werden auch heute noch Menschen gemessen
								und Karrieren entschieden.
							</p>
							<button class="btn outline card">MEHR</button>
						</div>
					</div>
					<div class="card">
						<div class="card-header">Korrekturen</div>
						<div class="cardbody">
							<h1 class="cardheadline">Wir sind für richtige Texte lorem Ipsum dolor sit</h1>
							<p class="cardcopy">
								Fehlerhaft, fehlerarm oder fehlerfrei – daran werden auch heute noch Menschen gemessen
								und Karrieren entschieden.
							</p>
							<button class="btn outline card">MEHR</button>
						</div>
					</div>
					<div class="card">
						<div class="card-header">Korrekturen</div>
						<div class="cardbody">
							<h1 class="cardheadline">Wir sind für richtige Texte lorem Ipsum dolor sit</h1>
							<p class="cardcopy">
								Fehlerhaft, fehlerarm oder fehlerfrei – daran werden auch heute noch Menschen gemessen
								und Karrieren entschieden.
							</p>
							<button class="btn outline card">MEHR</button>
						</div>
					</div>
				</div>
			</section>
            <footer><%- include ("../partials/footer.ejs") %></footer>
            <div class="gradient"></div>
		</div>
	</body>
</html>
