<!DOCTYPE html>
<html lang="de">
	<head>
        <%- include ("../partials/head.ejs") %>
        <style>
            @import url('../../static/generic.css');
        </style>
	</head>
	<body>
        <div id="preisrechner-hook"></div>
		<div class="wrapper">
			<header><%- include ("../partials/header.ejs") %></header>
			<section class="text">
				<h1><%= headline %></h1>
				<h2><%= subheadline %></h2>
				<p><%- copytext %></p>
				<!-- <button id="open-calculator-btn" class="btn red">PREISRECHNER</button> -->
			</section>
			<section class="picture">
				<img src="<%= strapiURL %><%= image.url %>" alt="<%= image.alternativeText %>" />
			</section>
			<footer><%- include ("../partials/footer.ejs") %></footer>
		</div>
	</body>
</html>