<!-- regular navigation -->
<nav>
    <div class="logo-container">
        <a class="logo" href="/">
<svg width="142" height="26" viewBox="0 0 142 26" xmlns="http://www.w3.org/2000/svg" fill="none">
    <path
        d="M33.9 2.2H29.4V18.7C29.4 19.8 29.4 20.5 29.4 21.3 29.5 23.4 30.8 24.2 33 24.2 34 24.2 34.8 24.2 35.7 24.1V20.9C34.3 21 34 20.7 33.9 20 33.9 19.6 33.9 19.3 33.9 18.6V2.2Z"
        fill="#333" />
    <path
        d="M51.6 15.8C51.6 11.6 49.1 7.8 44.2 7.8 39.3 7.8 36.2 11.4 36.2 16.1 36.2 21.7 39.6 24.4 43.9 24.4 47.6 24.4 50.5 22.5 51.3 18.8H46.9C46.6 20.3 45.5 21.2 44 21.2 42.3 21.2 41 20.3 40.7 17.3H51.5C51.6 16.7 51.6 16.2 51.6 15.8ZM44 11C45.6 11 46.6 12.1 46.9 14.3H40.8C41.2 12 42.3 11 44 11Z"
        fill="#333" />
    <path
        d="M60.3 7.8C55.9 7.8 52.4 10.8 52.4 16.2 52.4 21.6 55.7 24.4 59.9 24.4 63.9 24.4 66.9 22.3 67.5 18.4H63C62.7 20.2 61.6 21.2 60.2 21.2 58.3 21.2 57.1 19.6 57.1 15.9 57.1 12.6 58.3 11 60.2 11 61.7 11 62.8 11.8 63.1 14H67.5C67.2 10.5 64.6 7.8 60.3 7.8Z"
        fill="#333" />
    <path
        d="M74.6 11.2H77.9V8.3H74.6V4.3H70.1V8.3H67.7V11.2H70.1V18.5C70.1 19.4 70.1 20.1 70.1 20.9 70.3 23.2 71.4 24.3 74.8 24.3 75.8 24.3 76.7 24.3 77.6 24.1V21.1C75.3 21.3 74.8 20.9 74.6 19.4 74.6 19 74.6 18.4 74.6 17.9V11.2Z"
        fill="#333" />
    <path
        d="M86.3 7.8C81.2 7.8 78.2 11.1 78.2 16.1 78.2 21 81.2 24.4 86.3 24.4 91.4 24.4 94.4 21 94.4 16.1 94.4 11.1 91.4 7.8 86.3 7.8ZM86.3 21.2C84.1 21.2 82.8 19.3 82.8 16.1 82.8 12.8 84.1 11 86.3 11 88.4 11 89.7 12.8 89.7 16.1 89.7 19.3 88.4 21.2 86.3 21.2Z"
        fill="#333" />
    <path
        d="M110.9 12.1C110.6 9.4 108.7 7.8 105.5 7.8 104 7.8 102.9 8 101.9 8.8L100.6 10.7V8.2H96.1V24H100.6V16.6C100.6 12.6 101.9 11 103.7 11 105.5 11 106.4 12 106.5 13.6 106.5 14.4 106.5 15.2 106.5 15.8V24H111.1V15C111.1 13.8 111 12.9 110.9 12.1Z"
        fill="#333" />
    <path
        d="M128 15.8C128 11.6 125.5 7.8 120.6 7.8 115.7 7.8 112.6 11.4 112.6 16.1 112.6 21.7 116 24.4 120.3 24.4 124 24.4 126.9 22.5 127.7 18.8H123.3C123 20.3 121.9 21.2 120.4 21.2 118.7 21.2 117.4 20.3 117.1 17.3H127.9C128 16.7 128 16.2 128 15.8ZM120.4 11C122 11 123 12.1 123.3 14.3H117.2C117.6 12 118.7 11 120.4 11Z"
        fill="#333" />
    <path
        d="M135.2 11.2H138.5V8.3H135.2V4.3H130.7V8.3H128.3V11.2H130.7V18.5C130.7 19.4 130.7 20.1 130.7 20.9 130.9 23.2 132 24.3 135.4 24.3 136.4 24.3 137.2 24.3 138.2 24.1V21.1C135.9 21.3 135.3 20.9 135.2 19.4 135.2 19 135.2 18.4 135.2 17.9V11.2Z"
        fill="#333" />
    <path
        d="M9.5 12.1C9.1 13.5 9.5 14.9 10.5 15.7 12 16.8 14 16.1 14.4 14.4 14.5 13.9 14.5 13.4 14.4 12.9 14.1 11.6 13.7 10.2 13.3 8.8 11.6 9 10 10.4 9.5 12.1ZM16.9 11.7C17.2 13.1 17.2 14.5 16.7 15.8 15.2 19.5 10.4 20.1 8 16.9 6.3 14.7 6.3 11.5 8.1 9.1 9.1 7.7 10.5 6.8 12.1 6.3L12.6 6.2C12.5 5.6 12.4 5.1 12.3 4.5 12.1 2.7 13 1.1 14.6 0.4 16.2-0.4 18.2 0.1 19.3 1.4 19.8 2 19.8 2.9 19.2 3.4 18.7 3.9 17.9 3.9 17.3 3.3 17 2.9 16.7 2.7 16.2 2.7 15.5 2.7 14.9 3.2 14.9 3.9 15 4.6 15.2 5.2 15.3 5.8 15.4 5.9 15.6 6 15.8 6 17.5 6.3 19.1 7 20.4 8.3 23.8 11.7 24.2 17.2 21.3 21.2 19.2 24 16.5 25.5 13.1 25.8 7 26.4 1.7 22.4 0.3 16.2 -1 10.6 2.1 4.5 7.4 2.4 8.1 2.1 8.9 2.3 9.2 3.1 9.5 3.8 9.1 4.5 8.4 4.9 5.2 6.4 3.3 8.8 2.8 12.3 2.1 17 5 21.5 9.4 22.8 13 23.9 16.9 22.6 19.1 19.7 21.2 16.8 21 12.7 18.5 10.3 17.9 9.6 17 9.1 16.1 8.9 16.4 9.9 16.6 10.8 16.9 11.7Z"
        fill="#333" />
</svg>

        </a>
    </div>
	<div class="nav-elements">
        <div class="link" id="leistungen-link">
            Leistungen<img class="dropdown-icon" src="../../static/images/icon_dropdown_arrow.svg" alt="" />
        </div>
        <div class="link" id="ueber-uns-link">
            Über Uns<img class="dropdown-icon" src="../../static/images/icon_dropdown_arrow.svg" alt="" />
        </div>
        <div class="container-icons-social-media-navi">
            <!-- <a class="icon-social-media" href="#"><img src="../../static/images/icon_facebook.svg" alt="Link Facebook" /></a> -->
            <a class="icon-social-media" href="#">
                <svg width="13" height="24" viewBox="0 0 13 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M8.11401 23.6233V13.0368H11.8007L12.3487 8.89184H8.11401V6.25167C8.11401 5.05559 8.45801 4.23667 10.23 4.23667H12.4753V0.541213C11.3829 0.427793 10.2847 0.373029 9.18601 0.377172C5.92734 0.377172 3.69001 2.30434 3.69001 5.84221V8.88409H0.0273438V13.029H3.69801V23.6233H8.11401Z"
                        fill="#333333" />
                    </svg>
            </a>
            <a div class="icon-social-media" href="#">
                <svg width="25" height="21" viewBox="0 0 25 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M24.2528 2.95216C23.3862 3.33888 22.4432 3.6172 21.4718 3.7256C22.4803 3.10578 23.2355 2.12657 23.5958 0.971692C22.6494 1.55408 21.6127 1.96246 20.5315 2.17872C20.0797 1.679 19.5332 1.28089 18.9261 1.00921C18.319 0.737537 17.6643 0.59811 17.0028 0.599622C14.3266 0.599622 12.1742 2.84376 12.1742 5.59767C12.1742 5.98439 12.2195 6.37111 12.2932 6.74318C8.28584 6.52638 4.71182 4.54591 2.33574 1.51368C1.9028 2.27867 1.67592 3.1497 1.67871 4.03614C1.67871 5.77052 2.53115 7.29982 3.83105 8.19923C3.065 8.16802 2.31689 7.9502 1.64756 7.56349V7.62501C1.64756 10.0537 3.30713 12.0664 5.51895 12.5293C5.10365 12.6409 4.67644 12.698 4.24736 12.6992C3.93301 12.6992 3.63564 12.667 3.33545 12.6231C3.94717 14.6035 5.72852 16.042 7.84971 16.0889C6.19014 17.4336 4.11143 18.2246 1.8543 18.2246C1.44932 18.2246 1.07549 18.21 0.6875 18.1631C2.82852 19.584 5.36885 20.4043 8.10459 20.4043C16.9858 20.4043 21.8456 12.793 21.8456 6.18654C21.8456 5.96974 21.8456 5.75294 21.8314 5.53615C22.7717 4.82423 23.5958 3.9424 24.2528 2.95216Z"
                        fill="#333333" />
                </svg>
            </a>
            <a class="icon-social-media"href="#">
                <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M10.7487 0.501953C8.03062 0.501953 7.69187 0.515078 6.62812 0.560078C5.56 0.612578 4.8375 0.778203 4.2 1.0257C3.53279 1.27759 2.92854 1.67196 2.42937 2.18133C1.91859 2.67933 1.524 3.28391 1.27375 3.95195C1.02625 4.58945 0.860625 5.31195 0.808125 6.38008C0.76 7.44445 0.75 7.78258 0.75 10.5007C0.75 13.2188 0.763125 13.5576 0.808125 14.6213C0.860625 15.6863 1.02625 16.412 1.27375 17.0495C1.52564 17.7167 1.92001 18.3209 2.42937 18.8201C2.92737 19.3309 3.53196 19.7255 4.2 19.9757C4.8375 20.2201 5.56312 20.3888 6.62812 20.4413C7.6925 20.4895 8.03062 20.4995 10.7487 20.4995C13.4669 20.4995 13.8056 20.4863 14.8694 20.4413C15.9344 20.3888 16.66 20.2195 17.2975 19.9757C17.9647 19.7238 18.569 19.3294 19.0681 18.8201C19.5796 18.3226 19.9743 17.7179 20.2237 17.0495C20.4681 16.412 20.6369 15.6863 20.6894 14.6213C20.7375 13.557 20.7475 13.2188 20.7475 10.5007C20.7475 7.78258 20.7344 7.44383 20.6894 6.38008C20.6369 5.31508 20.4675 4.5857 20.2237 3.95195C19.9719 3.28474 19.5775 2.68049 19.0681 2.18133C18.5707 1.66988 17.9659 1.27519 17.2975 1.0257C16.66 0.778203 15.9344 0.612578 14.8694 0.560078C13.805 0.511953 13.4669 0.501953 10.7487 0.501953ZM10.7487 2.30195C13.4181 2.30195 13.7369 2.31508 14.7919 2.36008C15.765 2.4057 16.295 2.5682 16.6469 2.7057C17.0819 2.86628 17.4756 3.12186 17.7994 3.45383C18.1308 3.77622 18.3854 4.16905 18.5444 4.6032C18.6819 4.95508 18.8444 5.48508 18.89 6.4582C18.935 7.5132 18.9481 7.83258 18.9481 10.5013C18.9481 13.1701 18.935 13.4895 18.8862 14.5445C18.8337 15.5176 18.6712 16.0476 18.5344 16.3995C18.345 16.8688 18.1337 17.197 17.785 17.552C17.4601 17.8818 17.0667 18.1362 16.6325 18.297C16.285 18.4345 15.7475 18.597 14.7706 18.6426C13.71 18.6876 13.3975 18.7007 10.7212 18.7007C8.045 18.7007 7.73312 18.6876 6.67125 18.6388C5.69812 18.5863 5.16125 18.4238 4.80937 18.287C4.33437 18.0976 4.00875 17.8863 3.66 17.5376C3.30812 17.1857 3.08437 16.8507 2.91187 16.3851C2.77187 16.0376 2.61187 15.5001 2.56 14.5232C2.52437 13.4751 2.5075 13.1501 2.5075 10.4863C2.5075 7.82383 2.52437 7.4982 2.56 6.43695C2.61187 5.46008 2.77187 4.92383 2.91187 4.57508C3.08437 4.09945 3.30875 3.77445 3.66 3.42258C4.00812 3.07445 4.33437 2.84945 4.80937 2.6732C5.16125 2.53633 5.685 2.37383 6.66187 2.32508C7.7225 2.28695 8.035 2.2732 10.7075 2.2732L10.7487 2.30195ZM10.7487 5.36883C10.0746 5.36858 9.40699 5.50119 8.7841 5.75906C8.16121 6.01694 7.59524 6.39503 7.11853 6.87174C6.64183 7.34844 6.26373 7.91441 6.00586 8.5373C5.74798 9.16019 5.61538 9.82779 5.61562 10.502C5.61538 11.1761 5.74798 11.8437 6.00586 12.4666C6.26373 13.0895 6.64183 13.6555 7.11853 14.1322C7.59524 14.6089 8.16121 14.987 8.7841 15.2448C9.40699 15.5027 10.0746 15.6353 10.7487 15.6351C11.4229 15.6353 12.0905 15.5027 12.7134 15.2448C13.3363 14.987 13.9023 14.6089 14.379 14.1322C14.8557 13.6555 15.2338 13.0895 15.4916 12.4666C15.7495 11.8437 15.8821 11.1761 15.8819 10.502C15.8821 9.82779 15.7495 9.16019 15.4916 8.5373C15.2338 7.91441 14.8557 7.34844 14.379 6.87174C13.9023 6.39503 13.3363 6.01694 12.7134 5.75906C12.0905 5.50119 11.4229 5.36858 10.7487 5.36883ZM10.7487 13.8351C8.90625 13.8351 7.41562 12.3445 7.41562 10.502C7.41562 8.65945 8.90625 7.16883 10.7487 7.16883C12.5912 7.16883 14.0819 8.65945 14.0819 10.502C14.0819 12.3445 12.5912 13.8351 10.7487 13.8351ZM17.2887 5.16383C17.2884 5.48237 17.1616 5.78775 16.9363 6.01287C16.7109 6.238 16.4054 6.36445 16.0869 6.36445C15.9294 6.36445 15.7734 6.33343 15.6279 6.27316C15.4824 6.21288 15.3502 6.12454 15.2388 6.01316C15.1274 5.90179 15.0391 5.76957 14.9788 5.62406C14.9185 5.47854 14.8875 5.32258 14.8875 5.16508C14.8875 5.00757 14.9185 4.85161 14.9788 4.7061C15.0391 4.56058 15.1274 4.42836 15.2388 4.31699C15.3502 4.20562 15.4824 4.11727 15.6279 4.057C15.7734 3.99673 15.9294 3.9657 16.0869 3.9657C16.7475 3.9657 17.2887 4.5032 17.2887 5.16383Z"
                        fill="#333333" />
                </svg>
            </a>
        </div>
        <a class="link link-links" href="#">Links</a>
        <button id="btn-open-calculator-navi" class="btn outline">Preisrechner</button>

    </div>

	<div class="dropdown-wrapper">
		<ul class="leistungen-sublinks">
            <% navItems.leistungen.forEach(obj => { %>
                <li><a href=<%= obj.slug %>> <%= obj.title %> </a></li>
            <% }) %>
		</ul>
		<ul class="ueber-uns-sublinks">
            <% navItems.ueber_uns.forEach(obj=> { %>
                <li><a href=<%=obj.slug %>> <%= obj.title %> </a></li>
                <% }) %>
		</ul>
	</div>
</nav>


<!-- hamburger menu -->
<div class="wrapper-hamburger">
	<div class="container-logo-hamburger">
		<a href="/"><img id="logo-hamburger" src="../../static/images/logo_grey.svg" alt="" /></a>
	</div>

	<div class="container-btn-open-calculator-hamburger">
		<li><button id="btn-open-calculator-hamburger" class="btn outline">Preisrechner</button></li>
	</div>

	<div class="container-nav-items-hamburger">
		<span class="hamburger-category">Leistungen</span>
		<ul class="hamburger-leistungen">
            <% navItems.leistungen.forEach(obj=> { %>
                <li><a href=<%=obj.slug %>> <%= obj.title %> </a></li>
            <% }) %>
		</ul>
		<span class="hamburger-category">Über Uns</span>
		<ul class="hamburger-ueber-uns">
            <% navItems.ueber_uns.forEach(obj=> { %>
                <li><a href=<%=obj.slug %>> <%= obj.title %> </a></li>
                <% }) %>
		</ul>
		<div class="hamburger-social-media">
			<a href="#"><img src="../../static/images/icon_facebook.svg" alt="Icon Facebook" /></a>
			<a href="#"><img src="../../static/images/icon_twitter.svg" alt="Icon Twitter" /></a>
			<a href="#"><img src="../../static/images/icon_instagram.svg" alt="Icon Instagram" /></a>
		</div>
	</div>

	<div class="container-icon-hamburger">
		<img id="icon-hamburger" src="../../static/images/icon_hamburger_grey.svg" alt="" />
	</div>
</div>
