<!-- regular navigation -->
<nav>
    <div class="logo-container">
        <a class="logo" href="/"><img src="../../static/images/logo_grey.svg" alt="" /></a>
    </div>
	<ul>
		<li id="leistungen-link">
			Leistungen<img class="dropdown-icon" src="../../static/images/icon_dropdown_arrow.svg" alt="" />
		</li>
		<li id="ueber-uns-link">
			Über Uns<img class="dropdown-icon" src="../../static/images/icon_dropdown_arrow.svg" alt="" />
		</li>
		<li class="social-media-icon facebook-icon">
			<a href="#"><img src="../../static/images/icon_facebook.svg" alt="Link Facebook" /></a>
		</li>
		<li class="social-media-icon">
			<a href="#"><img src="../../static/images/icon_twitter.svg" alt="Link Twitter" /></a>
		</li>
		<li class="social-media-icon">
			<a href="#"><img src="../../static/images/icon_instagram.svg" alt="Link Instagram" /></a>
		</li>
		<li class="links-link"><a href="#">Links</a></li>
		<li><button id="open-calculator-btn-navi" class="btn outline">Preisrechner</button></li>
	</ul>
	<div class="dropdown-wrapper">
		<ul class="leistungen-sublinks">
            <% navItems.leistungen.forEach(obj => { %>
                <li><a href=<%= obj.slug %>> <%= obj.title %> </a></li>
            <% }) %>
		</ul>
		<ul class="ueber-uns-sublinks">
            <% navItems.ueber_uns.forEach(obj=> { %>
                <li><a href=<%=obj.slug %>> <%= obj.title %> </a></li>
                <% }) %>
		</ul>
	</div>
</nav>


<!-- hamburger menu -->
<div class="hamburger-wrapper">
	<div class="hamburger-logo-container">
		<a href="/"><img id="hamburger-logo" src="../../static/images/logo_grey.svg" alt="" /></a>
	</div>

	<div class="hamburger-preisrechner-btn-container">
		<li><button class="btn outline">Preisrechner</button></li>
	</div>

	<div class="hamburger-links-container">
		<span class="hamburger-category">Leistungen</span>
		<ul class="hamburger-leistungen">
            <% navItems.leistungen.forEach(obj=> { %>
                <li><a href=<%=obj.slug %>> <%= obj.title %> </a></li>
                <% }) %>
		</ul>
		<span class="hamburger-category">Über Uns</span>
		<ul class="hamburger-ueber-uns">
            <% navItems.ueber_uns.forEach(obj=> { %>
                <li><a href=<%=obj.slug %>> <%= obj.title %> </a></li>
                <% }) %>
		</ul>
		<div class="hamburger-social-media">
			<a href="#"><img src="../../static/images/icon_facebook.svg" alt="Icon Facebook" /></a>
			<a href="#"><img src="../../static/images/icon_twitter.svg" alt="Icon Twitter" /></a>
			<a href="#"><img src="../../static/images/icon_instagram.svg" alt="Icon Instagram" /></a>
		</div>
	</div>

	<div class="hamburger-icon-container">
		<img id="hamburger-icon" src="../../static/images/icon_hamburger_grey.svg" alt="" />
	</div>
</div>
