<!-- regular navigation -->
<nav>
    <div class="logo-container">
        <a class="logo" href="/"><img src="../../static/images/logo_grey.svg" alt="" /></a>
    </div>
	<div class="nav-elements">
        <div class="link" id="leistungen-link">
            Leistungen<img class="dropdown-icon" src="../../static/images/icon_dropdown_arrow.svg" alt="" />
        </div>
        <div class="link" id="ueber-uns-link">
            Über Uns<img class="dropdown-icon" src="../../static/images/icon_dropdown_arrow.svg" alt="" />
        </div>
        <div class="container-icons-social-media-navi">
            <a class="icon-social-media" href="#"><img src="../../static/images/icon_facebook.svg" alt="Link Facebook" /></a>
            <a div class="icon-social-media" href="#"><img src="../../static/images/icon_twitter.svg" alt="Link Twitter" /></a>
            <a class="icon-social-media"href="#"><img src="../../static/images/icon_instagram.svg" alt="Link Instagram" /></a>
        </div>
        <a class="link link-links" href="#">Links</a>
        <button id="btn-open-calculator-navi" class="btn outline">Preisrechner</button>

    </div>

	<div class="dropdown-wrapper">
		<ul class="leistungen-sublinks">
            <% navItems.leistungen.forEach(obj => { %>
                <li><a href=<%= obj.slug %>> <%= obj.title %> </a></li>
            <% }) %>
		</ul>
		<ul class="ueber-uns-sublinks">
            <% navItems.ueber_uns.forEach(obj=> { %>
                <li><a href=<%=obj.slug %>> <%= obj.title %> </a></li>
                <% }) %>
		</ul>
	</div>
</nav>


<!-- hamburger menu -->
<div class="wrapper-hamburger">
	<div class="container-logo-hamburger">
		<a href="/"><img id="logo-hamburger" src="../../static/images/logo_grey.svg" alt="" /></a>
	</div>

	<div class="container-btn-open-calculator-hamburger">
		<li><button id="btn-open-calculator-hamburger" class="btn outline">Preisrechner</button></li>
	</div>

	<div class="container-nav-items-hamburger">
		<span class="hamburger-category">Leistungen</span>
		<ul class="hamburger-leistungen">
            <% navItems.leistungen.forEach(obj=> { %>
                <li><a href=<%=obj.slug %>> <%= obj.title %> </a></li>
            <% }) %>
		</ul>
		<span class="hamburger-category">Über Uns</span>
		<ul class="hamburger-ueber-uns">
            <% navItems.ueber_uns.forEach(obj=> { %>
                <li><a href=<%=obj.slug %>> <%= obj.title %> </a></li>
                <% }) %>
		</ul>
		<div class="hamburger-social-media">
			<a href="#"><img src="../../static/images/icon_facebook.svg" alt="Icon Facebook" /></a>
			<a href="#"><img src="../../static/images/icon_twitter.svg" alt="Icon Twitter" /></a>
			<a href="#"><img src="../../static/images/icon_instagram.svg" alt="Icon Instagram" /></a>
		</div>
	</div>

	<div class="container-icon-hamburger">
		<img id="icon-hamburger" src="../../static/images/icon_hamburger_grey.svg" alt="" />
	</div>
</div>
